node_modules
*/node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.*
.DS_Store
*.log
dist
*/dist
.vscode
.idea
*.swp
*.swo
*~
.cache
.parcel-cache
.next
out
build
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn-integrity